@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To GameStore!</h1>
    <p class="lead">GameStore is the No.1 place where you can purchase all your favourite games!</p>
    <p>@Html.ActionLink("View Games >", "Index", "Games", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Welcome to GameStore</h2>
        <p>
            We are a new shop thats aimed at bringing you the latest games for XBOX, PS4 and PC.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>User Reviews</h2>
        <p>Come and check out the latest reviews from our users.</p>
    </div>
    
</div>